@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p>
            "We the People of the United States in Order to
             form a more perfect Union establish Justice
            insure domestic Tranquility provide for the common
            defense promote the general Welfare and secure the
            Blessings of Liberty to ourselves and our Posterity
            do ordain and establish this Constitution for the United
            States of America."
        </p>

        <p>Number of Words that start with T: @ViewBag.tcount</p>
        <p>Number of Words that end with E: @ViewBag.ecount</p>
        <p>Number of Words that start with T AND end with E: @ViewBag.tecount</p>
    </div>
